<header><div class="title"></div><%= link_to "Elements", elements_path %>
		</header>
		<div class="center">
		<div class="container">
			<section class="alkali">
				  
					<div name="1">H</div>
					<div name="3">Li</div>
					<div>K</div>
					<div>Na</div>
					<div>Rb</div>
					<div>Cs</div>
					<div>Fr</div>
				  
				
			</section>
			<section class="be" id="be">
				
					<div>Be</div>
					<div>Mg</div>
					<div>Ca</div>
					<div>Sr</div>
					<div>Ba</div>
					<div>Ra</div>
					
				  
			</section>
			<div class="tm_box">
				<div class="top_display">
					<div id="hidden">
					</div>
					<div class="chemical_data">
					</div>
				</div>
				<section class="tm" id="sc">
					<div>Sc</div>
					<div>Y</div> 
				</section>
				<section class="tm" id="ti">
					<div>Ti</div>
					<div>Zr</div>
					<div>Hf</div>
					<div>Rf</div>
				</section>
				<section class="tm" id="v">
					<div>V</div>
					<div>Nb</div>
					<div>Ta</div>
					<div>Db</div>
				</section>
				<section class="tm" id="cr">
					<div>Cr</div>
					<div>Mo</div>
					<div>W</div>
					<div>Sg</div>
				</section>
				<section class="tm" id="mn">  
					<div>Mn</div>
					<div>Tc</div>
					<div>Re</div>
					<div>Bh</div>
				</section>
				<section class="tm" id="fe">
					<div>Fe</div>
					<div>Ru</div>
					<div>Os</div>
					<div>Hs</div>
				</section>
				<section class="tm" id="co"> 
					<div>Co</div>
					<div>Rh</div>
					<div>Ir</div>
					<div>Mt</div>
				</section>
				<section class="tm" id="ni">
					<div>Ni</div>
					<div>Pd</div>
					<div>Pt</div>
					<div>Ds</div>
				</section>
				<section class="tm" id="cu">
					<div>Cu</div>
					<div>Ag</div>
					<div>Au</div>
					<div>Rg</div>
				</section>
				<section class="tm" id="zn">
					<div>Zn</div>
					<div>Cd</div>
					<div>Hg</div>
					<div>Cn</div>  
				</section>
			</div>
					<section class="pm" id="al">
				  
					<div id="nm">B</div>
					<div>Al</div>
					<div>Ga</div>
					<div>In</div>
					<div>Tl</div>
					<div>Uut</div>
		
				  
				
			</section>
			<section class="pm" id="c">
				  
					<div id="nm">C</div>
					<div id="nm">Si</div>
					<div>Ge</div>
					<div>Sn</div>
					<div>Pb</div>
					<div>Fl</div>
		
				  
				
			</section>
			<section class="pm" id="n">
				  
					<div id="nm">N</div>
					<div id="nm">P</div>
					<div id="nm">As</div>
					<div>Sb</div>
					<div>Bi</div>
					<div>Uup</div>

				  
			</section>
			<section class="pm" id="o">
				  
					<div id="nm">O</div>
					<div id="nm">S</div>
					<div id="nm">Se</div>
					<div id="nm">Te</div>
					<div>Po</div>
					<div>Lv</div>

				  

			</section>
			<section class="pm" id="f">
				  
					<div id="nm">F</div>
					<div id="nm">Cl</div>
					<div id="nm">Br</div>
					<div id="nm">I</div>
					<div id="nm">At</div>
					<div>Uus</div>

				  

			</section>
				<section class="ng" id="he">
				  
					<div name="2">He</div>
					<div>Ne</div>
					<div>Ar</div>
					<div>Kr</div>
					<div>Xe</div>
					<div>Rn</div>
					<div>Uuo</div>

				  

			</section>
		
		<div class="Ac_La">
			<section class ="re">
				  
					<div>La</div>
					<div>Ac</div>
				  
			</section>
			<section class ="re">
				  
					<div>Ce</div>
					<div>Th</div>
				  
			</section>
			<section class ="re">
				  
					<div>Pr</div>
					<div>Pa</div>
				  
			</section>
			<section class ="re">
				  
					<div>Nd</div>
					<div>U</div>
				  
			</section>
			<section class ="re">
				  
					<div>Pm</div>
					<div>Np</div>
				  
			</section>
			<section class ="re">
				  
					<div>Sm</div>
					<div>Pu</div>
				  
			</section>
			<section class ="re">
				  
					<div>Eu</div>
					<div>Am</div>
				  
			</section>
			<section class ="re">
				  
					<div>Gd</div>
					<div>Cm</div>
				  
			</section>
			<section class ="re">
				  
					<div>Tb</div>
					<div>Bk</div>
				  
			</section>
			<section class ="re">
				  
					<div>Dy</div>
					<div>Cf</div>
				  
			</section>
			<section class ="re">
				  
					<div>Ho</div>
					<div>Es</div>
				  
			</section>
			<section class ="re">
				  
					<div>Er</div>
					<div>Fm</div>
				  
			</section>

		
		    <section class ="re">
				  
					<div>Tm</div>
					<div>Md</div>
				  
			</section>
			<section class ="re">
				  
					<div>Yb</div>
					<div>No</div>
				  
			</section>
			<section class ="re">
				  
					<div><a href="#Lu">Lu</a></div>
					<div><a href="#Lr">Lr</a></div>
				  
			</section>
			
		</div>
	</div>
</div>
	<div class="empty"></div>
	<div class="result_box">
		<div class="result"></div>
	</div>

<script>
	$(document).ready(function(){
	$('section div').on('click', function(){
		var number = $(this).attr('name');
		var symbol = $(this).text();
		$('#hidden').addClass('top_add');
		$('#hidden').text(symbol);
		var element = $.get( "/elements/" + number, function(e) {
  		$( ".chemical_data" ).html(e);
  		
		});
		$.get("/elements/" + number + "/wiki", function(e){
			$('.result').html(e).slideDown();
		});
		});

	});
</script>