<header><div class="title"></div>
		</header>
		<div class="center">
		<div class="container">
			<section class="alkali">
				  
					<div name="1">H</div>
					<div name="3">Li</div>
					<div name="11">Na</div>
					<div name="19">K</div>
					<div name="37">Rb</div>
					<div name="55">Cs</div>
					<div name="87">Fr</div>
				  
				
			</section>
			<section class="be" id="be">
				
					<div name="4">Be</div>
					<div name="12">Mg</div>
					<div name="20">Ca</div>
					<div name="38">Sr</div>
					<div name="56">Ba</div>
					<div name="88">Ra</div>
					
				  
			</section>
			<div class="tm_box">
				<div class="top_display">
					<div id="hidden">
					</div>
					<div class="chemical_data">
					</div>
				</div>
				<section class="tm" id="sc">
					<div name="21">Sc</div>
					<div name="39">Y</div> 
				</section>
				<section class="tm" id="ti">
					<div name="22">Ti</div>
					<div name="40">Zr</div>
					<div name="72">Hf</div>
					<div name="104">Rf</div>
				</section>
				<section class="tm" id="v">
					<div name="23">V</div>
					<div name="41">Nb</div>
					<div name="73">Ta</div>
					<div name="105">Db</div>
				</section>
				<section class="tm" id="cr">
					<div name="24">Cr</div>
					<div name="42">Mo</div>
					<div name="74">W</div>
					<div name="106">Sg</div>
				</section>
				<section class="tm" id="mn">  
					<div name="25">Mn</div>
					<div name="43">Tc</div>
					<div name="75">Re</div>
					<div name="107">Bh</div>
				</section>
				<section class="tm" id="fe">
					<div name="26">Fe</div>
					<div name="44">Ru</div>
					<div name="76">Os</div>
					<div name="108">Hs</div>
				</section>
				<section class="tm" id="co"> 
					<div name="27">Co</div>
					<div name="45">Rh</div>
					<div name="77">Ir</div>
					<div name="109">Mt</div>
				</section>
				<section class="tm" id="ni">
					<div name="28">Ni</div>
					<div name="46">Pd</div>
					<div name="78">Pt</div>
					<div name="110">Ds</div>
				</section>
				<section class="tm" id="cu">
					<div name="29">Cu</div>
					<div name="47">Ag</div>
					<div name="79">Au</div>
					<div name="111">Rg</div>
				</section>
				<section class="tm" id="zn">
					<div name="30">Zn</div>
					<div name="48">Cd</div>
					<div name="80">Hg</div>
					<div name="112">Cn</div>  
				</section>
			</div>
					<section class="pm" id="al">
				  
					<div name="5" id="nm">B</div>
					<div name="13">Al</div>
					<div name="31">Ga</div>
					<div name="49">In</div>
					<div name="81">Tl</div>
					<div name="113">Uut</div>
		
				  
				
			</section>
			<section class="pm" id="c">
				  
					<div name="6" id="nm">C</div>
					<div name="14" id="nm">Si</div>
					<div name="32">Ge</div>
					<div name="50">Sn</div>
					<div name="82">Pb</div>
					<div name="114">Fl</div>
		
				  
				
			</section>
			<section class="pm" id="n">
				  
					<div name="7" id="nm">N</div>
					<div name="15" id="nm">P</div>
					<div name="33" id="nm">As</div>
					<div name="51">Sb</div>
					<div name="83">Bi</div>
					<div name="115">Uup</div>

				  
			</section>
			<section class="pm" id="o">
				  
					<div name="8" id="nm">O</div>
					<div name="16" id="nm">S</div>
					<div name="34" id="nm">Se</div>
					<div name="52" id="nm">Te</div>
					<div name="84">Po</div>
					<div name="116">Lv</div>

				  

			</section>
			<section class="pm" id="f">
				  
					<div name="9" id="nm">F</div>
					<div name="17" id="nm">Cl</div>
					<div name="35" id="nm">Br</div>
					<div name="53" id="nm">I</div>
					<div name="85" id="nm">At</div>
					<div name="117">Uus</div>

				  

			</section>
				<section class="ng" id="he">
				  
					<div name="2">He</div>
					<div name="10">Ne</div>
					<div name="18">Ar</div>
					<div name="36">Kr</div>
					<div name="54">Xe</div>
					<div name="86">Rn</div>
					<div name="118">Uuo</div>

				  

			</section>
		
		<div class="Ac_La">
			<section class ="re">
				  
					<div name="57">La</div>
					<div name="89">Ac</div>
				  
			</section>
			<section class ="re">
				  
					<div name="58">Ce</div>
					<div name="90">Th</div>
				  
			</section>
			<section class ="re">
				  
					<div name="59">Pr</div>
					<div name="91">Pa</div>
				  
			</section>
			<section class ="re">
				  
					<div name="60">Nd</div>
					<div name="92">U</div>
				  
			</section>
			<section class ="re">
				  
					<div name="61">Pm</div>
					<div name="93">Np</div>
				  
			</section>
			<section class ="re">
				  
					<div name="62">Sm</div>
					<div name="94">Pu</div>
				  
			</section>
			<section class ="re">
				  
					<div name="63">Eu</div>
					<div name="95">Am</div>
				  
			</section>
			<section class ="re">
				  
					<div name="64">Gd</div>
					<div name="96">Cm</div>
				  
			</section>
			<section class ="re">
				  
					<div name="65">Tb</div>
					<div name="97">Bk</div>
				  
			</section>
			<section class ="re">
				  
					<div name="66">Dy</div>
					<div name="98">Cf</div>
				  
			</section>
			<section class ="re">
				  
					<div name="67">Ho</div>
					<div name="99">Es</div>
				  
			</section>
			<section class ="re">
				  
					<div name="68">Er</div>
					<div name="100">Fm</div>
				  
			</section>

		
		    <section class ="re">
				  
					<div name="69">Tm</div>
					<div name="102">Md</div>
				  
			</section>
			<section  class ="re">
				  
					<div name="70">Yb</div>
					<div name="102">No</div>
				  
			</section>
			<section class ="re">
				  
					<div name="71">Lu</div>
					<div name="103">Lr</div>
				  
			</section>
			
		</div>
	</div>
</div>
	<div class="empty"></div>
	<div class="result_box">
		<div class="result"></div>
	</div>

<script>
	$(document).ready(function(){
	$('section div').on('click', function(){
		var number = $(this).attr('name');
		var symbol = $(this).text();
		$('#hidden').addClass('top_add');
		$('#hidden').html('<p style="font-size:18px; margin: 5px 0 0 -5px;">' + number + '</p>' + symbol);
		var element = $.get( "/elements/" + number, function(e) {
  		$( ".chemical_data" ).html(e);
  		
		});
		$.get("/elements/" + number + "/wiki", function(e){
			$('.result').html(e);
		});
		});

	});
</script>