<header>
	<nav>
		<div class="title"></div>
		<strong><div class="nav_items">About</div>
		<div class="nav_items"><a href="https://github.com/rainbough/PeriodicTable">GitHub</a></div></strong>
	</nav>
</header>